In [157]:
from sklearn.metrics.pairwise import euclidean_distances
import pandas
import numpy
import sqlite3

In [158]:
cnx = sqlite3.connect('C:\\Users\\hp\\Desktop\\Home_Again_Project\\db.sqlite3')
data = pandas.read_sql_query("select * from Hostels_app_hostel", cnx)
print(data)

      id                                              title category  \
0     15                                 Radhe mohan Hostel        F
1     16                                shree balaji hostel        F
2     17                                Agrawal Guest House        M
3     18                               Aayush Boys For Boys        M
4     19                                      Aman For Boys        M
..   ...                                                ...      ...
206  224  Indore Institute of Law, opp. IIM, Indore, Mad...        C
207  225  Government Holkar Science College Indore, AB R...        C
208  226  Arihant College, Khandwa Road, opp. Radha Swam...        C
209  227  Acropolis Institute Of Technology And Research...        C
210  228  KHAN STUDY GROUP(KSG),111-117,Veda Building, B...        C

              state    city  pin_code  \
0    madhya pradesh  Indore    452009
1    madhya pradesh  Indore    452009
2    Madhya Pradesh  Indore   4520101
3    Madhya Pradesh  Indore    452001
4    Madhya Pradesh  Indore    452001
..              ...     ...       ...
206  MADHYA PRADESH  INDORE    452001
207  MADHYA PRADESH  INDORE    452001
208  MADHYA PRADESH  INDORE    452001
209  MADHYA PRADESH  INDORE    452001
210  MADHYA PRADESH  INDORE    452001

                                        street_address        lat  \
0                                           Nemi nagar  28.547860
1                                           Nemi nagar  26.906761
2    350/A, Mahalaxmi Nagar Main Road (American Opt...  22.754501
3    43-F, Mangal Nagar, Piplya Rao, Bhawarkuan, In...  22.683722
4    100, Sadar Bazar Main Road, Sawami Complex, Ma...  22.726800
..                                                 ...        ...
206  Indore Institute of Law, opp. IIM, Indore, Mad...  22.633199
207  Government Holkar Science College Indore, AB R...  22.695389
208  Arihant College, Khandwa Road, opp. Radha Swam...  22.675870
209  Acropolis Institute Of Technology And Research...  22.821293
210  KHAN STUDY GROUP(KSG),111-117,Veda Building, B...  22.693954

     one_seater_room  one_seater_price  ...  security_cameras  mess  \
0                4.0             400.0  ...                 1     1
1                NaN               NaN  ...                 1     0
2               10.0           10000.0  ...                 1     1
3                0.0            3500.0  ...                 1     1
4                8.0            3000.0  ...                 1     1
..               ...               ...  ...               ...   ...
206              1.0            1000.0  ...                 1     1
207              1.0            1000.0  ...                 1     1
208              1.0            1000.0  ...                 1     1
209              1.0            1000.0  ...                 1     1
210              1.0            1000.0  ...                 1     1

                                           description  total_area  owner_id  \
0            radhe mohan hostel is good saf and secure        6454         3
1                           nvcxythfjhygdktdjhgdjhgchg        6454         3
2    For more details  Contact - 8889844406, 958950...        5000         4
3    For more details Contact - 0731-2465507, 90390...        5000         4
4              For more details contact - 0731-4227214        4000         4
..                                                 ...         ...       ...
206  For Further Details Contact: 0731 - 4005438, 8...        6546         4
207  For Further Details Contact: 9893883789, 98933...        6754         4
208  For Further Details Contact: 8889844406, 95895...        5000         4
209                    For Further Details Contact: ,         5000         4
210       For Further Details Contact: 0731 - 4096446,        6454         4

     type  vacant  verified  sentiment        log
0      PB       1         0   0.081888  77.180821
1      PB       1         0   0.445918  75.740921
2      RB       0         0   0.329167  75.903545
3      RB       0         0   0.330000  75.861384
4      RB       0         0   0.339153  75.852186
..    ...     ...       ...        ...        ...
206    RB       1         1        NaN  75.777543
207    RB       1         1        NaN  75.870773
208    RB       1         1        NaN  75.878199
209    RB       1         1        NaN  75.943154
210    RB       1         1        NaN  75.866527

[211 rows x 38 columns]

In [159]:
newdata = data

In [160]:
newdata["forboys"]=newdata['category'].astype(str).apply(lambda x:True if x=='M' else (True if x=='C' else False))
newdata["forgirls"]=newdata['category'].astype(str).apply(lambda x:True if x=='F' else (True if x=='C' else False))

In [161]:
data

,id,title,category,state,city,pin_code,street_address,lat,one_seater_room,one_seater_price,...,description,total_area,owner_id,type,vacant,verified,sentiment,log,forboys,forgirls
0,15,Radhe mohan Hostel,F,madhya pradesh,Indore,452009,Nemi nagar,28.547860,4.0,400.0,...,radhe mohan hostel is good saf and secure,6454,3,PB,1,0,0.081888,77.180821,False,True
1,16,shree balaji hostel,F,madhya pradesh,Indore,452009,Nemi nagar,26.906761,NaN,NaN,...,nvcxythfjhygdktdjhgdjhgchg,6454,3,PB,1,0,0.445918,75.740921,False,True
2,17,Agrawal Guest House,M,Madhya Pradesh,Indore,4520101,"350/A, Mahalaxmi Nagar Main Road (American Opt...",22.754501,10.0,10000.0,...,"For more details Contact - 8889844406, 958950...",5000,4,RB,0,0,0.329167,75.903545,True,False
3,18,Aayush Boys For Boys,M,Madhya Pradesh,Indore,452001,"43-F, Mangal Nagar, Piplya Rao, Bhawarkuan, In...",22.683722,0.0,3500.0,...,"For more details Contact - 0731-2465507, 90390...",5000,4,RB,0,0,0.330000,75.861384,True,False
4,19,Aman For Boys,M,Madhya Pradesh,Indore,452001,"100, Sadar Bazar Main Road, Sawami Complex, Ma...",22.726800,8.0,3000.0,...,For more details contact - 0731-4227214,4000,4,RB,0,0,0.339153,75.852186,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206,224,"Indore Institute of Law, opp. IIM, Indore, Mad...",C,MADHYA PRADESH,INDORE,452001,"Indore Institute of Law, opp. IIM, Indore, Mad...",22.633199,1.0,1000.0,...,"For Further Details Contact: 0731 - 4005438, 8...",6546,4,RB,1,1,NaN,75.777543,True,True
207,225,"Government Holkar Science College Indore, AB R...",C,MADHYA PRADESH,INDORE,452001,"Government Holkar Science College Indore, AB R...",22.695389,1.0,1000.0,...,"For Further Details Contact: 9893883789, 98933...",6754,4,RB,1,1,NaN,75.870773,True,True
208,226,"Arihant College, Khandwa Road, opp. Radha Swam...",C,MADHYA PRADESH,INDORE,452001,"Arihant College, Khandwa Road, opp. Radha Swam...",22.675870,1.0,1000.0,...,"For Further Details Contact: 8889844406, 95895...",5000,4,RB,1,1,NaN,75.878199,True,True
209,227,Acropolis Institute Of Technology And Research...,C,MADHYA PRADESH,INDORE,452001,Acropolis Institute Of Technology And Research...,22.821293,1.0,1000.0,...,"For Further Details Contact: ,",5000,4,RB,1,1,NaN,75.943154,True,True
210,228,"KHAN STUDY GROUP(KSG),111-117,Veda Building, B...",C,MADHYA PRADESH,INDORE,452001,"KHAN STUDY GROUP(KSG),111-117,Veda Building, B...",22.693954,1.0,1000.0,...,"For Further Details Contact: 0731 - 4096446,",6454,4,RB,1,1,NaN,75.866527,True,True

In [162]:
result=data[data['boys']]
result = data[data['one_seater_room']>=0]

In [163]:
newdata['one_seater_room'].value_counts()

False    128
True      83
Name: forboys, dtype: int64

In [164]:
result.reset_index(drop=True, inplace=True)
result['forboys'].value_counts()

True    83
Name: forboys, dtype: int64

In [165]:
ans=result.index[result['title']=='IPS Academy Institute of Business Management and Research,Knowledge Village, Rajendra Nagar , A.B Road, Indore, Madhya Pradesh 452012']
ans

Int64Index([76], dtype='int64')

In [166]:
newresult=result.filter(['lat','log'])
newresult

          lat        log
0   22.754501  75.903545
1   22.683722  75.861384
2   22.726800  75.852186
3   22.755356  75.907690
4   28.534233  77.209447
..        ...        ...
78  22.633199  75.777543
79  22.695389  75.870773
80  22.675870  75.878199
81  22.821293  75.943154
82  22.693954  75.866527

[83 rows x 2 columns]

In [167]:
dis=euclidean_distances(newresult)
dis

array([[0.        , 0.08238432, 0.05835361, ..., 0.08261474, 0.07765301,
        0.07096661],
       [0.08238432, 0.        , 0.0440487 , ..., 0.01855806, 0.16003726,
        0.01145165],
       [0.05835361, 0.0440487 , 0.        , ..., 0.05718847, 0.13116447,
        0.03584037],
       ...,
       [0.08261474, 0.01855806, 0.05718847, ..., 0.        , 0.15926952,
        0.02152332],
       [0.07765301, 0.16003726, 0.13116447, ..., 0.15926952, 0.        ,
        0.14861625],
       [0.07096661, 0.01145165, 0.03584037, ..., 0.02152332, 0.14861625,
        0.        ]])

In [168]:
final_data=dis[ans[0]]
final_data

array([1.26265110e-01, 4.61383077e-02, 7.59587362e-02, 1.29556502e-01,
       6.03910600e+00, 1.09131527e-01, 5.19615191e-02, 5.19615191e-02,
       5.23914956e-02, 1.19898241e-01, 5.66160041e-02, 5.07818527e-02,
       5.68197611e-02, 2.86049021e-01, 6.80605070e-02, 5.41080243e-02,
       1.19015682e-01, 4.86814953e-02, 5.57090773e-02, 1.37012303e-01,
       1.37080116e-01, 4.91941676e-02, 1.22575738e-01, 5.92608120e-02,
       1.23846031e-01, 5.79147083e-02, 1.35330858e-01, 7.65389600e-02,
       1.14877439e-01, 7.19754287e-02, 8.96687632e-02, 5.32859797e-02,
       9.66252557e-02, 9.27914188e-02, 1.06872991e-01, 1.07276602e-01,
       1.20180199e-01, 1.18853781e-01, 8.07217651e-02, 5.50812176e-02,
       6.44700351e-03, 5.57383266e-02, 6.81224058e-02, 1.19554624e-01,
       4.96924341e-02, 5.35314372e-02, 2.89029817e-02, 9.75363581e-02,
       7.75688928e-02, 1.01201097e-01, 5.72194924e-02, 6.80215753e-02,
       5.48330425e-02, 8.04273420e-02, 3.22142008e-02, 9.20714141e-02,
       5.29094818e-02, 7.60109496e-02, 5.70678501e-02, 1.30596520e-01,
       1.06451595e-01, 4.16082068e+01, 1.26677263e-01, 5.68197611e-02,
       8.69747293e-02, 4.61125021e-02, 5.89498409e-02, 8.32630785e-02,
       3.34354490e-02, 1.07665430e-01, 9.33067427e-02, 1.20821271e-01,
       1.50384891e-01, 5.44975106e-02, 5.65534613e-02, 5.59639920e-02,
       0.00000000e+00, 6.07576429e-02, 5.21812035e-02, 6.07584194e-02,
       5.72878200e-02, 2.03434643e-01, 5.66160041e-02])

In [169]:
disdf=pandas.DataFrame(dis)
disdf

,0,1,2,3,4,5,6,7,8,9,...,73,74,75,76,77,78,79,80,81,82
0,0.000000,0.082384,0.058354,0.004232,5.925427,0.018029,0.077021,0.077021,0.086930,0.014788,...,0.073374,0.071193,0.071955,0.126265,0.077101,0.174902,0.067589,0.082615,0.077653,0.070967
1,0.082384,0.000000,0.044049,0.085297,6.003811,0.064626,0.005823,0.005823,0.016845,0.078424,...,0.009014,0.011196,0.010431,0.046138,0.018577,0.097888,0.014976,0.018558,0.160037,0.011452
2,0.058354,0.044049,0.000000,0.062419,5.963928,0.045944,0.041918,0.041918,0.058378,0.047690,...,0.037748,0.036399,0.037195,0.075959,0.053341,0.119720,0.036499,0.057188,0.131164,0.035840
3,0.004232,0.085297,0.062419,0.000000,5.923681,0.020676,0.079851,0.079851,0.089211,0.018782,...,0.076304,0.074127,0.074870,0.129557,0.079278,0.178496,0.070419,0.084780,0.074869,0.073923
4,5.925427,6.003811,5.963928,5.923681,0.000000,5.943223,5.999348,5.999348,6.011710,5.926092,...,5.995159,5.993066,5.993924,6.039106,6.002213,6.072278,5.990338,6.007715,5.851597,5.992687
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
78,0.174902,0.097888,0.119720,0.178496,6.072278,0.158617,0.103681,0.103681,0.104346,0.166670,...,0.105812,0.107759,0.107256,0.052181,0.112927,0.000000,0.112070,0.109328,0.250612,0.107747
79,0.067589,0.014976,0.036499,0.070419,5.990338,0.049744,0.009434,0.009434,0.022934,0.064369,...,0.006270,0.004352,0.004815,0.060758,0.016847,0.112070,0.000000,0.020883,0.145226,0.004482
80,0.082615,0.018558,0.057188,0.084780,6.007715,0.064645,0.016650,0.016650,0.005163,0.081969,...,0.020028,0.020953,0.020232,0.057288,0.005515,0.109328,0.020883,0.000000,0.159270,0.021523
81,0.077653,0.160037,0.131164,0.074869,5.851597,0.095514,0.154661,0.154661,0.163844,0.083969,...,0.151027,0.148845,0.149608,0.203435,0.153802,0.250612,0.145226,0.159270,0.000000,0.148616
82,0.070967,0.011452,0.035840,0.073923,5.992687,0.053265,0.006739,0.006739,0.022570,0.067048,...,0.002480,0.000571,0.001377,0.056616,0.018427,0.107747,0.004482,0.021523,0.148616,0.000000

In [170]:
value=disdf.iloc[ans[0]].values

In [171]:
sortedvalue=numpy.argsort(value)

In [172]:
for i in range(1,25):
        try:
            if((result['title'][sortedvalue[i]]!="KHAN STUDY GROUP(KSG),111-117,Veda Building, Bhanwarkua Square, near Apple Hospital, Indore, Madhya Pradesh 452001")and(result['title'][sortedvalue[i]]!="Acropolis Institute Of Technology And Research - AITR, Square, Malwa County, Manglaya Sadak, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Arihant College, Khandwa Road, opp. Radha Swami Satsang, Near DAVV Takshila Parisar, Opposite Radha Swami Satsang, Rani Bagh Main, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Government Holkar Science College Indore, AB Road, near Bhawarkua, Square, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Indore Institute of Law, opp. IIM, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Institute of Engineering & Technology, Davv Takshila Parisar, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="IPS Academy Institute of Business Management and Research,Knowledge Village, Rajendra Nagar , A.B Road, Indore, Madhya Pradesh 452012")and(result['title'][sortedvalue[i]]!="Kautilya Academy, Payal Plaza, Bhawarkua Main Rd, opp. Bhawarkuan Police Station, Bhavarkuan Square, Aditya Nagar, Bhanwar Kuwa, Indore, Madhya Pradesh 452001")and(result['title'][sortedvalue[i]]!="Mahatma Gandhi Institute for Civil Services,G-13, Ground Floor Veda Business Park, Bhanvarkuan Square, near Apple Hospital, Indore, Madhya Pradesh 452001")and(result['title'][sortedvalue[i]]!="Ocean academy Indore, 56, Bhawarkua Main Rd, near Siddharth Nagar, Vishnu Puri Colony, Indore, Madhya Pradesh 452001")and(result['title'][sortedvalue[i]]!="Oriental University, Sanwer Rd, opposite Revati Range, Jakhya, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Prestige Institute of Engineering Management & Research, Sector-D, Scheme No 74, Vijay Nagar, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Radiant Institute of Management and Science,SECTOR A BAKHTAWAR RAM NAGAR, near Tilak Nagar, Indore, Madhya Pradesh 452001")and(result['title'][sortedvalue[i]]!="Renaissance College of Commerce & Management, behind Press Complex, Sunil Nagar, Krishna Bagh Colony, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="SAGE University, Bypass Road, Kailod Kartal, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Sgsits Main Gate, SGSITS Road, Shivaji Nagar, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Shri Atal Bihari Vajpayee Government Arts And Commerce College, AB Road, Navlakha, Davv Takshila Parisar, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Shri Vaishnav Institute of Management, Indore, Sector B, Gumasta Nagar, Scheme 71, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="St. Paul Institute of Professional Studies Indore, Lalaram Nagar, Indore, Madhya Pradesh")and(result['title'][sortedvalue[i]]!="Devi Ahilya Vishwavidyalaya Takshila Campus, Khandwa Road, Indrapuri Colony, Indra Puri Colony, Indore, Madhya Pradesh")):
                print(result['title'][sortedvalue[i]],'--', result['lat'][sortedvalue[i]],'--', result['log'][sortedvalue[i]])
        except:
            pass

S B For Boys -- 22.6624894 -- 75.8236313
Shree Ram Group Of Hostel -- 22.6321456 -- 75.8082493
The Sky For Boys -- 22.6809076 -- 75.8449753
Aayush Boys For Boys -- 22.6837224 -- 75.8613839
Bhakti Apartment Only Boys -- 22.6844633 -- 75.8639934
Dev boys hostel -- 22.681823 -- 75.8663621
Shree Awesome For Boys -- 22.6837892 -- 75.8656916
Satkar Boys Hostel -- 22.687805 -- 75.864096
K2k boys hostel -- 22.6872338 -- 75.8660294
K2K For Boys -- 22.6872338 -- 75.8660294
Kirti Boys Hostel -- 22.672701 -- 75.8741228
Vaishnu Dham For Boys -- 22.7027541 -- 75.8493756
My choice girls hostel -- 22.6862549 -- 75.868361
Shree balaji homes girls hostel -- 22.692229 -- 75.8639274
Shree Balaji Homes -- 22.693128 -- 75.8638803
Sukhmani Boys Hostel -- 22.6929503 -- 75.8650311
Ratan Hostel -- 22.6899521 -- 75.8678785
Bhakti Sidhhant Saraswati For Boys -- 22.6930424 -- 75.8661253
S B For Boys -- 22.6920625 -- 75.8670119